body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: #EBE9FC;
  color:  #b12727;
}

#navbar #brand h1 {
  font-family: 'Lobster', cursive;
  font-size: 24px;
}

#navbar #menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

#navbar #navMenu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar #navMenu li {
  margin-left: 20px;
}

#navbar #navMenu li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

#navbar #navMenu li a:hover {
  color: #af2222;
 
}

#homepage {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  background-image: url('img-5.jpeg');
  background-size: cover;
  background-position: center;
}

#homepage .container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  max-width: 50%;
  margin-left: 5%;
}

#homepage .container1 #slogan h1,
#homepage .container1 #slogan h2,
#homepage .container1 #slogan h3 {
  margin: 0;
  font-family: 'Lobster', cursive;
}

#homepage .container1 #slogan h1 {
  letter-spacing: 2px;
  font-size: 70px;
  font-weight: 800;
  font-family: "Playfair Display";
  color: #f14545;
}

#homepage .container1 #slogan h2 {
  color: #af2222;
  font-family: "Dancing Script";
  font-size: 70px;
}

#homepage .container1 #slogan h3 {
  font-weight: 700;
  color: #af2222;
  font-size: 30px;
  font-family: "Playfair Display";
}

#homepage .container1 p {
  font-size: 20px;
  text-align: left; /* Align text to the left */
}

#homepage .container1 #buttonGroup-1 {
  display: flex;
  margin-top: 20px;
}

#homepage .container1 #buttonGroup-1 button {
  background-color: #b12727;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#homepage .container1 #buttonGroup-1 button:hover {
  background-color: #ff5733; /* Warna saat hover */
}

#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  background-color: #EBEBEB;
}

#services h1 {
  font-family: "Playfair Display";
  font-size: 40px;
  color: #af2222;
  margin: 0 0 40px 0;
}

#services #container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#services #container2 .servicesContainer {
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  min-width: 300px;
  max-width: 45%;
}

#services #container2 .servicesImgContainer {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

#services #container2 .servicesTextContainer {
  text-align: left;
  margin-top: 20px;
}

#services #container2 .servicesTextContainer h2 {
  font-family: "Playfair Display";
  font-size: 30px;
  color: black;
}

#services #container2 .servicesContainer #servicesImg1 {
  background-image: url(img-4.jpeg);
  background-size: cover;
  background-position: center;
}

#services #container2 .servicesContainer #servicesImg2 {
  background-image: url(img-6.jpg);
  background-size: cover;
  background-position: center;
}

#services #container2 .servicesContainer #servicesImg3 {
  background-image: url(img-7.jpg);
  background-size: cover;
  background-position: center;
}

#services #container2 .servicesTextContainer p {
  font-size: 18px;
  font-family: "Comfortaa";
}

#services #container2 button {
  background-color: #b12727;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#services #container2 button:hover {
  background-color: #ff5733; /* Warna saat hover */
}

#review {
  background-color: #FAFAFA;
  padding: 50px 20px;
  
}

#review #container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

#review #reviewForm,
#review #reviewList {
  flex: 1;
  min-width: 300px;
  max-width: 45%;
  padding: 20px;
}

#review #reviewForm h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

#review #reviewForm form input,
#review #reviewForm form textarea,
#review #reviewForm form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#review #reviewForm form button {
  background-color: #b12727;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#review #reviewForm form button:hover {
  background-color: #ff5733; /* Warna saat hover */
}

#review #reviewList .reviewCard {
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#review #reviewList .reviewCard h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

#review #reviewList .reviewCard p {
  font-size: 18px;
}

.rating .star {
  cursor: pointer;
  font-size: 24px;
  color: #ccc; /* warna default bintang */
  transition: color 0.3s ease;
}

.rating .star:hover,
.rating .star.selected {
  color: gold;
}

.rating .star:hover ~ .star {
  color: #ccc;
}

#contact {
  padding: 50px 20px;
}

#contact #contactUsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#contact #contactUsContainer > div {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

#contactUsImg {
  flex: 1;
  aspect-ratio: 16 / 9; 
  background-image: url('img-5.jpeg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  #contactUsImg {
    aspect-ratio: 16 / 9; 
  }
}

#contact #contactUsContent h1,
#contact #contactNumber h2 {
  font-size: 30px;
}

#contact #contactUsContent p,
#contact #contactNumber h3 {
  font-size: 20px;
}

#contact #contactNumber button {
  background-color: #b12727;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contact #contactNumber button:hover {
  background-color: #ff5733; /* Warna saat hover */
}

#footy {
  background-color: #A40A0A;
  color: white;
  padding: 20px;
  text-align: center;
}

#footy #brand h1 {
  font-family: 'Lobster', cursive;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  #navbar #menu-icon {
    display: block;
  }

  #navbar #navMenu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #EBE9FC;
  }

  #navbar #navMenu.show {
    display: flex;
  }

  #navbar #navMenu li {
    margin: 10px 0;
    text-align: center;
  }

  #homepage .container1 {
    max-width: 90%;
    padding: 20px;
    margin: 0 auto;
  }

  #services #container2 {
    flex-direction: column;
  }

  #services #container2 .servicesContainer {
    max-width: 100%;
  }

  #review #container {
    flex-direction: column;
   
    align-items: center;
  }

  #contact #contactUsContainer {
    flex-direction: column;
  }
}

footer {
  background-color: #EBE9FC;
  color: black;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

footer .social-icons a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

footer .social-icons a:hover {
  color: #f14545; /* Warna saat hover */
}
